# comment png, csv, mod, sum
#*.png
#*.csv
*.back
*.jpg
*.jpeg
*.svg
#*.mod
*.sum
*.tsv
*.txt
*.json
lasso
spatial
#*.bin
#*.exe
#comparison
demo
# image
# import_gates
# results
# data
# gates
# import_cells
# plots
#linux_spatial_Gate.bin
test_files
#temp